#!/bin/bash

[Desktop Entry]
Version=1.0
Name=RandomPWGen
Comment=RANDOM PASSWORD GENERATOR!!!
Exec=[python .py Path]
Icon=/usr/share/pixmaps/python.xpm
Path=[path to the folder]
Terminal=True
StartupNotify=true
Type=Application
Categories=Utility;Application;
